<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
	<styleBundle path="~/Content/css">
		<include path="~/Content/bootstrap.css" />
		<include path="~/Content/Site.css" />

	</styleBundle>
	<styleBundle path="~/assets/dist/css">
		<include path="~/assets/dist/css/bootstrap.css" />
	</styleBundle>
	<styleBundle path="~/bootstrap-5.3.0-alpha1-dist/css">
		<include path="~/bootstrap-5.3.0-alpha1-dist/css/bootstrap-reboot.css" />
	</styleBundle>
	<styleBundle path="~/CSS">
		<include path="~/CSS/carousel.css" />
	</styleBundle>

	
</bundles>