<?xml version="1.0"?>
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
	<!--windows登录-->
	<connectionStrings>
		<add name="connection"
			  connectionString="data source=(local); database=社会哲学项目; Integrated Security=SSPI"
			  providerName="System.Data.SqlClient" />

		<!--sa登录-->
		<add name="conn" 
			 connectionString="server=LAPTOP-SESUCEUV;database=form;uid=sa;pwd=***;" 
			 providerName="System.Data.SqlClient" />

		<!--账号密码登陆-->
		<add name="SQpwdLoad" 
			 connectionString="Data Source=.;Initial Catalog=社会哲学项目;User Id=sa;Password=0.0.00.0;"
			 providerName="System.Data.SqlClient" />
		
	</connectionStrings>
</configuration>
